doctype html
html(ng-app='articles')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Articles
    link(rel='stylesheet', href='../libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/profile') Profile
            li
              a(href='/logout') Logout
        // /.navbar-collapse
      // /.container-fluid
    .container
      ng-view
    script(src='../libs/angular/angular.js')
    script(src='../libs/angular-resource/angular-resource.min.js')
    script(src='../libs/angular-route/angular-route.min.js')
    script(src='../libs/jquery/dist/jquery.min.js')
    script(src='../libs/bootstrap/js/modal.js')
    script(src='./articles.module.js')
    script(src='./article/articles.controller.js')
    script(src='./article/articles.service.js')
