doctype html
html(ng-app='admin')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CMS Administration
    link(rel='stylesheet', href='../libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/profile') Profile
            li
              a(href='#/') Dashboard
            li
              a(href='#/content') Content
            li
              a(href='#/users') Users
            li
              a(href='#/tags') Tags
            li
              a(href='#/categories') Categories
        // /.navbar-collapse
      // /.container-fluid
    .container
      ng-view
    script(src='../libs/angular/angular.min.js')
    script(src='../libs/angular-resource/angular-resource.min.js')
    script(src='../libs/angular-route/angular-route.min.js')
    script(src='../libs/jquery/dist/jquery.min.js')
    script(src='../libs/bootstrap/js/modal.js')
    script(src='./admin.module.js')
    script(src='./dashboard/dashboard.controller.js')
    script(src='./dashboard/dashboard.service.js')
    script(src='./users/users.controller.js')
    script(src='./users/users.service.js')
    script(src='./content/content.controller.js')
    script(src='./content/contentItem.controller.js')
    script(src='./content/content.service.js')
    script(src='./tags/tags.controller.js')
    script(src='./tags/tags.service.js')
    script(src='./categories/categories.controller.js')
    script(src='./categories/categories.service.js')
